name: "Static & Spec Tests"

on:
  - push

jobs:
  rubocop:
    env:
      BUNDLE_WITHOUT: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
          bundler-cache: true
      - name: Run Rubocop
        run: bundle exec rake rubocop
  lint:
    env:
      BUNDLE_WITHOUT: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
          bundler-cache: true
      - name: Puppet Lint
        run: bundle exec rake lint
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.1"
          - "3.0"
          - "2.7"
        puppet:
          - "~> 8.0"
          - "~> 7.0"
        exclude:
          - ruby: "2.7"
            puppet: "~> 8.0"

    name: "Ruby ${{ matrix.ruby }} - Puppet ${{ matrix.puppet }}"
    env:
      PUPPET_VERSION: ${{ matrix.puppet }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake spec
  acceptance:
    runs-on: ubuntu-latest
    env:
      BEAKER_setfile: ${{ matrix.beaker }}
    strategy:
      fail-fast: false
      matrix:
        beaker:
          - debian10-64a
          - debian11-64a
          # - debian12-64a # voxpupuli/beaker-hostgenerator doesn't support Debian 12 yet
          - ubuntu2204-64a
          - centos9-64a
          - rocky9-64a
    name: Acceptance / Image ${{ matrix.beaker }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
          bundler-cache: true
      - name: Run acceptance
        run: bundle exec rake beaker
  tests:
    needs:
      - rubocop
      - test
      - acceptance
      - lint
    runs-on: ubuntu-latest
    name: Test suite
    steps:
      - run: echo Test suite completed
